<% provide(:title,"Home")%>


<h1>HOME</h1>

<h2>C'est une super appli qui s'affiche</h2>
<div class="center jumbotron">
    <% if logged_in? %>
        <div class="row">
            <aside class="">
                <section class="user_info">
                    <%= render 'shared/user_info' %>
                </section>
                <section class="micropost_form">
                    <%= render 'shared/micropost_form' %>
                </section>
            </aside>
        </div>
    <% else %>
        <%=link_to "sign up now",login_path,class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
<br/>
<%=link_to image_tag("kung.jpeg",alt: "rails logo"), "http://rubyonrails.org" %>
